In [1]:
# JSON 파일은 데이터를 저장하고 교환하기 위해 많이 사용되는 특수한 파일 형식
# 사람이 읽고 쓰기 쉽고, 기계가 파싱하고 생성하기 편한 텍스트를 사용하여 데이터를 구조화한다
# 파이썬 딕셔너리와 비슷하게 키:값 구조로 표시하고 구조가 중첩되는 방식에 따라 옵션을 다르게 적용
# JSON파일 -> 데이터프레임 : pandas.read_json('파일 경로(이름)')

In [9]:
import pandas as pd

df = pd.read_json('./data/read_json_sample.json')

df

            year        developer opensource
pandas      2008    Wes Mckinneye       True
NumPy       2006  Travis Oliphant       True
matplotlib  2003   John D. Hunter       True

In [11]:
df.index

Index(['pandas', 'NumPy', 'matplotlib'], dtype='object')

In [13]:
# orient = 'index' 옵션은 json 객체의 키를 행으로 변환하는데 사용됨

df2 = pd.read_json('./data/read_json_sample.json', orient = 'index')
df2

                   pandas            NumPy      matplotlib
year                 2008             2006            2003
developer   Wes Mckinneye  Travis Oliphant  John D. Hunter
opensource           True             True            True

In [17]:
# orient = 'columns' 옵션은 JSON 객체의 key를 데이터프레임의 열 이름으로 사용
df3 = pd.read_json('./data/read_json_sample.json', orient = 'columns')
df3

            year        developer opensource
pandas      2008    Wes Mckinneye       True
NumPy       2006  Travis Oliphant       True
matplotlib  2003   John D. Hunter       True