In [1]:
import pandas as pd

url = './data/sample.html'

# html 웹페이지의 표(table)를 가져와서 데이터프레임으로 변환
# read_html() 함수는 HTML 웹 페이지에 있는 <table> 태그에서 표 형식의 데이터를 모두 찾아서 데이터프레임으로 변환
tables = pd.read_html(url)

print(len(tables))

# tables 리스트의 원소를 iteration 하면서 각각 화면 출력
for i in range(len(tables)):
    print('tables[%s]' % i)
    print(tables[i])
    print('\n')

2
tables[0]
   Unnamed: 0  c0  c1  c2  c3
0           0   0   1   4   7
1           1   1   2   5   8
2           2   2   3   6   9


tables[1]
         name  year        developer  opensource
0       NumPy  2006  Travis Oliphant        True
1  matplotlib  2003   John D. Hunter        True
2      pandas  2008    Wes Mckinneye        True

In [3]:
df = tables[1]
df

         name  year        developer  opensource
0       NumPy  2006  Travis Oliphant        True
1  matplotlib  2003   John D. Hunter        True
2      pandas  2008    Wes Mckinneye        True

In [5]:
# name 열을 인덱스로 지정
df = df.set_index(['name'])
df

            year        developer  opensource
name
NumPy       2006  Travis Oliphant        True
matplotlib  2003   John D. Hunter        True
pandas      2008    Wes Mckinneye        True