In [1]:
# 데이터프레임을 excel 파일로 저장할 때는 to_excel() 메소드 적용

In [3]:
import pandas as pd

data = {'name' : ['Jerry', 'Riah', 'Paul'],
        'algol' : ['A', 'A+', 'B'],
        'basic' : ['C', 'B', 'B+'],
        'c++' : ['B+','C','C+'],
       }

df = pd.DataFrame(data)
df = df.set_index('name')

df

      algol basic c++
name
Jerry     A     C  B+
Riah     A+     B   C
Paul      B    B+  C+

In [5]:
# to_excel() 함수를 사용하여 Excel 파일로 내보내기, 파일명은 밑에처럼
# 이때 행 인덱스에 name 값들이 포함되게 됨 
df.to_excel('./data/df_sample.xlsx')

In [7]:
# 데이터프레임을 Excel 파일로 저장할 때 데이터프레임의 행 인덱스를 포함할지 여부를 선택할 수 있음
# index = False 옵션은 행 인덱스를 파일에 포함되지 않게 데이터만을 저장 
# index = True 옵션은 행 인덱스를 포함하여 저장한다

In [9]:
df.to_excel('./data/df_sample_no_index.xlsx', index = False)