In [2]:
import pandas as pd

df = pd.read_csv('./data/auto-mpg.csv', header = None)

# 열 이름을 지정
df.columns = ['mpg','cylinders','displacement','horsepower','weight',
              'accerleration','model year','origin','name']

df.head()

,mpg,cylinders,displacement,horsepower,weight,accerleration,model year,origin,name
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449.0,10.5,70,1,ford torino

In [4]:
# count() 메소드는 데이터프레임의 각 열이 가지고 있는 데이터 개수를 시리즈 객체로 반환한다
# 단, 유효한 값의 개수만을 계산하는 점에 유의한다
df.count()

mpg              398
cylinders        398
displacement     398
horsepower       398
weight           398
accerleration    398
model year       398
origin           398
name             398
dtype: int64

In [8]:
# df.count() 가 반환하는 객체 타입 출력
type(df.count())

pandas.core.series.Series

In [11]:
# value_counts() 메소드는 시리즈 객체의 고유값 개수를 세는데 사용
# 데이터프레임의 열은 시리즈이므로 value_counts() 메소드로 각 열의 고유값의 종류와 개수를 확인할 수 있다
# 고유값이 행 인덱스가 되고, 고유값의 개수가 데이터 값이 되는 시리즈 객체가 만들어진다

In [13]:
unique_values = df['origin'].value_counts()
unique_values

origin
1    249
3     79
2     70
Name: count, dtype: int64

In [17]:
# 데이터프레임 df의 특정 열이 가지고 있는 고유값의 비율을 확인 normalize = True
unique_values_ratio = df['origin'].value_counts(normalize = True)
unique_values_ratio

origin
1    0.625628
3    0.198492
2    0.175879
Name: proportion, dtype: float64

In [19]:
# 소수점이 있는 숫자로 표시된 실행 결과를 백분율로 변환할 필요가 있을 때
unique_values_percentage = ( df['origin'].value_counts(normalize = True) * 100 ).round(1)
unique_values_percentage

origin
1    62.6
3    19.8
2    17.6
Name: proportion, dtype: float64