In [1]:
import pandas as pd

exam_data = {'이름' : ['서준','우현','인아'],
             '수학' : [90,80,70], 
             '영어' : [98,89,95],
             '음악' : [85,95,100], 
             '체육' : [100,90,90]}

df = pd.DataFrame(exam_data)
print(df)
print('\n')
print(type(df))

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90


<class 'pandas.core.frame.DataFrame'>

In [3]:
math1 = df['수학'] # []안에 열 이름을 넣는 방식
print(math1)
print('\n')
print(type(math1))

0    90
1    80
2    70
Name: 수학, dtype: int64


<class 'pandas.core.series.Series'>

In [5]:
english = df.영어 # 도트(.) 다음에 열 이름을 입력하는 방식
print(english)
print('\n')
print(type(english))

0    98
1    89
2    95
Name: 영어, dtype: int64


<class 'pandas.core.series.Series'>

In [7]:
music_gym = df[['음악','체육']] # 데이터프레임에서 2개 이상의 열을 추출하는 방법
print(music_gym)
print('\n')
print(type(music_gym))

    음악   체육
0   85  100
1   95   90
2  100   90


<class 'pandas.core.frame.DataFrame'>

In [9]:
math2 = df[['수학']] # 열 이름 1개를 원소로 갖는 리스트를 사용하는 경우에도 시리즈가 아닌 데이터프레임 반환
print(math2)
print('\n')
print(type(math2))

   수학
0  90
1  80
2  70


<class 'pandas.core.frame.DataFrame'>