In [1]:
# 딕셔너리 -> 데이터프레임 변환 : pandas.DataFrame(딕셔너리 객체)

In [5]:
import pandas as pd

# 열 이름을 key로 하고, 리스트를 value로 갖는 딕셔너리 정의(2차원 배열)
dict_data = {'c0' : [1,2,3], 'c1' : [4,5,6], 'c2' : [7,8,9], 'c3' : [10,11,12], 'c4' : [13,14,15]}

# 판다스 DataFrame 함수로 딕셔너리를 데이터프레임으로 변환, 변수 df에 저장
df = pd.DataFrame(dict_data)

print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [9]:
print(df)
# 딕셔너리의 키가 열 이름이 되고, 값에 해당하는 리스트가 데이터프레임의 열이 된다. 
# 행 인덱스에는 정수형 위치 인덱스가 자동 지정

   c0  c1  c2  c3  c4
0   1   4   7  10  13
1   2   5   8  11  14
2   3   6   9  12  15

In [11]:
# 주피터랩 같은 ipython 환경에서는 print() 명령어를 사용하지 않고, 변수 이름을 코드 셀에 직접 입력하고
# 실행하면 화면에 실행 결과를 출력하는 기능을 지원
df

   c0  c1  c2  c3  c4
0   1   4   7  10  13
1   2   5   8  11  14
2   3   6   9  12  15