In [1]:
# 행 삭제 : DataFrame 객체.drop(행 인덱스 또는 배열, axis = 0, axis = 'index')
# 열 삭제 : DataFrame 객체.drop(열 인덱스 또는 배열, axis = 1 or axis = 'columns')

In [5]:
# 행 삭제
import pandas as pd

exam_data = {'수학' :[90,80,70], '영어' : [98,89,95],
             '음악' :[85,95,100], '체육' : [100,90,90]}

df = pd.DataFrame(exam_data, index =['서준','우현','인아'])
print(df)

# 데이터 프레임 df를 복제하여 변수 df2에 저장, df2의 1개 행 삭제
# 행을 삭제할 때는 축 옵션을 입력하지 않거나, axis = 0 or axis = 'index'와 같이 축 옵션을 설정
df2 = df.copy()
df2 = df2.drop('우현')
print(df2)

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90
    수학  영어   음악   체육
서준  90  98   85  100
인아  70  95  100   90

In [7]:
df3 = df.copy()
df3 = df3.drop(['우현','인아'], axis = 0)
print(df3)

    수학  영어  음악   체육
서준  90  98  85  100

In [9]:
df4 = df.copy()
df4 = df.drop(['우현','인아'], axis = 'index')
print(df4)

    수학  영어  음악   체육
서준  90  98  85  100

In [11]:
df5 = df.copy()
df5 = df.drop(index = ['우현'])
print(df5)

    수학  영어   음악   체육
서준  90  98   85  100
인아  70  95  100   90