In [1]:
# 리스트 또는 투플을 시리즈로 만들 때 정수형 위치 인덱스 대신 인덱스 이름을 따로 지정할 수 있다
# Series() 함수의 index 옵션에 인덱스 이름을 직접 전달하는 방식

In [5]:
import pandas as pd

# 투플을 시리즈로 변환(인덱스 옵션 지정)
tup_data = ('영인', '2010-05-01', '여', 'True')
sr = pd.Series(tup_data, index = ['이름','생년월일','성별','학생여부'])
print(sr)

이름              영인
생년월일    2010-05-01
성별               여
학생여부          True
dtype: object

In [7]:
print(sr[0])
print(sr['이름'])

영인
영인

C:\Users\mpm51\AppData\Local\Temp\ipykernel_28104\3589340035.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(sr[0])

In [23]:
print(sr[[1,2]])
print('\n')
print(sr[['생년월일','성별']])
print(sr[['생년월일']])
print('\n')
# 여러 개의 원소를 선택 ( 인덱스 범위 지정 )
print(sr[1:2])
print('\n')
print(sr['생년월일':'성별'])

생년월일    2010-05-01
성별               여
dtype: object


생년월일    2010-05-01
성별               여
dtype: object
생년월일    2010-05-01
dtype: object


생년월일    2010-05-01
dtype: object


생년월일    2010-05-01
성별               여
dtype: object

C:\Users\mpm51\AppData\Local\Temp\ipykernel_28104\920762407.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(sr[[1,2]])

In [27]:
# 원소가 없는 빈 배열 형태의 시리즈를 만드는 방법과 배열이 아닌 상수 값을 사용하여 시리즈를 만드는 방법
pd.Series()

Series([], dtype: object)

In [34]:
pd.Series(5, index = ['a','b','c'])

a    5
b    5
c    5
dtype: int64

In [36]:
pd.Series(5)

0    5
dtype: int64