In [1]:
# 반드시 축 옵션을 axis = 1 of axis = 'columns' 설정

In [3]:
import pandas as pd

exam_data = {'수학' :[90,80,70], '영어' : [98,89,95],
             '음악' :[85,95,100], '체육' : [100,90,90]}

df = pd.DataFrame(exam_data, index =['서준','우현','인아'])
print(df)

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

In [5]:
df2 = df.copy()
df2 = df.drop('수학', axis = 1)
print(df2)

    영어   음악   체육
서준  98   85  100
우현  89   95   90
인아  95  100   90

In [9]:
df3 = df.copy()
df3 = df3.drop(['영어','음악'], axis = 1)
print(df3)

    수학   체육
서준  90  100
우현  80   90
인아  70   90

In [11]:
df4 = df.copy()
df4 = df4.drop(['영어','음악'], axis = 'columns')
print(df4)

    수학   체육
서준  90  100
우현  80   90
인아  70   90

In [13]:
df5 = df.copy()
df5 = df5.drop(columns = ['수학'])
print(df5)

    영어   음악   체육
서준  98   85  100
우현  89   95   90
인아  95  100   90